<h2>About Us</h2>
<br>
<div class="about-us col-md-12">
<% cache do %>
	<h3>Looking to buy a used bike?</h3>
  	<p>This is the place to look for it. We are a sustainable store and we do have the best prices in town.</p>
<% end %>
</div>
