<h2>Contact Us</h2>

<br>
<div class="col-md-4">
  <li><span class="glyphicon glyphicon-glyphicon glyphicon-envelope"></span> email: bikestore23@gmail.com</li> 
</div>   		
<div class="col-md-4">
  <li><span class="glyphicon glyphicon-glyphicon glyphicon-home"></span> address: 123 bike street, Dublin 02, Ireland</li>
</div>
<div class="col-md-4">
  <li><span class="glyphicon glyphicon-glyphicon glyphicon-phone-alt"></span> phone number: +353 1 1234567</li>
</div>