<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<h2>Orders</h2>
<br>
<% if @orders.empty? %>
  <p>You have no orders, please look at our product page.</p>
<% else %>
  <p>These are your orders.</p>

<div class="container-fluid">
  <div class="row">
    <%= render @orders %>
  </div>
  <% end %>
</div> 