body {
  margin: 0 auto;
  text-align: center;
}


/*Header*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
 
li {
  display: inline;
}
 
li a {
  padding: 20px;
}


/*Product*/
.col-md-4{
  padding:25px;
}


/*About Us*/
.about-us {
  text-align: center;
  padding: 0 20px 0px 20px;
}


/*Image*/
img {
  margin: 0 auto;
}


/*Footer*/
footer {
  background-color: grey;
  height: 30px;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}