body {
  margin: 0 auto;
  text-align: center;
}


/*Header*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
 
li {
  display: inline;
}
 
li a {
  padding: 20px;
}


/*Carousel*/
.carousel-control.right, 
.carousel-control.left {
    background-image: none;
    color: grey;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
    border-color: grey;
}
  
.carousel-indicators li.active {
    background-color: grey;
}

.carousel-caption {
  text-shadow: none;
  color: black;
  bottom: -30px;
}


/*Product*/
.col-md-4{
  padding:25px;
}


/*About Us*/
.about-us {
  text-align: center;
  padding: 0 20px 0px 20px;
}


/*Image*/
img {
  margin: 0 auto;
}


/*Footer*/
footer {
  background-color: grey;
  height: 30px;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}